<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Powered by <a href="https://omeans-team.github.io">Omeans Team</a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>

<div id="dialog" title="Curriculum Vitae">
    <center><a href="uploads/pdf/ARIS_HADISOPIYAN-CV-WEB_DEVELOPER.pdf" download><img style="width: 100px;"
          src="assets/images/button/pdf1.png" /><br>Download</a></center>
    <iframe src="pages/cv/" width="100%" height="800"></iframe>
</div>