<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- meta pinterest -->
    <meta name="p:domain_verify" content="89422cefc017ab32b24a5497b5bd075e"/>
    <meta name="google-site-verification" content="flliSue9AwQckFdilGQV0b7QVydtNM3Sb9vnzSj705A" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">
    <link type="text/css" href="https://omeans-team.github.io/astronaut-viewer/public_style.css" rel="stylesheet"/>

    <link rel="shortcut icon" href="https://omeans-team.github.io/public_assets/assets/img/my_profile/gif/logo_02.gif" type="image/gif" sizes="16x16"> 
    <!-- <link rel="shortcut icon" href="https://omeans-team.github.io/public_assets/assets/img/my_profile/gif/logo_02.gif"> -->
    <!-- <link rel="shortcut icon" href="{{ "/favicon.ico?1" | relative_url }}"> -->
    {% seo %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}" />

   
    {% if page.halaman == 'base' %}
    <!-- yang bawah dihide karena carousel tidak berfungsi kalo tidak dihide -->
<!-- tapi js ini buat open dialog -->
<!-- dipisah antara jquery home dengan carousel -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    {% else %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    
    {% endif %} 
</head>
