<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/home/" | relative_url }}">Docs</a></li>
                <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | relative_url }}">Post</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Career
                    </a>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu c-3" aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item" id="dialog_cv" target="_blank" href="pages/cv">Curriculum Vitae</a> -->
                    <!-- <a style="cursor: pointer;" class="dropdown-item" id="opener" target="pages/cv">Curriculum Vitae</a> -->
                    <!-- <a class="dropdown-item" id="" target="_blank" href="pages/cv/dialog.html">Contoh dialog</a> -->
                    <!-- <a class="dropdown-item" href="#">Biography</a> -->
                    <div class="dropdown-divider"></div>
                    <!-- <a class="dropdown-item" href="pages/cv"
                        target="_blank">Download CV</a> -->
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/uploads/pdf/ARIS_HADISOPIYAN-CV-WEB_DEVELOPER.pdf" target="_blank"
                        type="application/octet-stream" download="ARIS_HADISOPIYAN-CV-WEB_DEVELOPER">Download CV</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Project
                    </a>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu c-3" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://bit.ly/30jlGgw" target="_blank" title="Size: 744 MB">Download Game
                        Suanggi Survival Papua</a>
                    <a class="dropdown-item" href="https://jurnal.unej.ac.id/index.php/INFORMAL/article/view/21235"
                        target="_blank">Jurnal Suanggi Survival Papua</a>
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/Aplikasi_Sistem_Informasi_Klinik" target="_blank">Aplikasi Sistem Informasi
                        Klinik</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://www.youtube.com/channel/UCc-wxj8LR7n83Y_-6fGwnKA"
                        target="_blank">Gameplay</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://omeans-team.github.io/omeansteam.github.io/portfolio.html" target="_blank">Other Portfolio</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Uji Coba
                    </a>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu c-3" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/404.html" target="_blank" title="Page Not Found">Not Found</a>
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/Parallax-Website-mainEdit" target="_blank">Parallax</a>
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/tesssssss" target="_blank">Parallax 2</a>
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/new.html" target="_blank">New</a>
                    <a class="dropdown-item" href="https://omeans-team.github.io/omeansteam.github.io/allcssnoimg.html" target="_blank">AllCSS</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="search" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
