<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbarSupportedContent">    
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>   
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo" style="border-radius: 50%;"></span> {{ site.title }}
        </a>
      </div>
      <div class="collapse navbar-collapse navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
            {% assign links = site.data.navigation %}
            {% for link in links %}
                {% assign class = nil %}
                {% if page.url contains link.url %}
                    {% assign class = 'active' %}
                {% endif %}
                {% if link.sublinks %}
                    <!-- <li class="nav-item {{ class }}">
                        <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }} <span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ link.title-dropdown }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                {% if sublink.download == '' %}
                                    {% if sublink.source-files == 'external' %}
                                    <li>
                                        <a type="{{ sublink.type }}" href="{{ sublink.url }}" target="{{sublink.target}}" id="{{sublink.id}}">{{ sublink.title }}</a>
                                    </li>
                                    {% else %}
                                        <li>
                                            <a type="{{ sublink.type }}" href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}" target="{{sublink.target}}" id="{{sublink.id}}">{{ sublink.title }}</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    {% if sublink.source-files == 'external' %}
                                    <li>
                                        <a type="{{ sublink.type }}" href="{{ sublink.url }}" download="{{sublink.download}}" target="{{sublink.target}}" id="{{sublink.id}}">{{ sublink.title }}</a>
                                    </li>
                                    {% else %}
                                        <li>
                                            <a type="{{ sublink.type }}" href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}" download="{{sublink.download}}" target="{{sublink.target}}" id="{{sublink.id}}">{{ sublink.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                        {% if link.source-files == 'external' %}
                        <li class="nav-item {{ class }}">
                            <a class="nav-link" href="{{ link.url }}">{{ link.title }} <span class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="{{ class }}">
                            <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                        </li>
                        {% endif %}
                {% endif %}
            {% endfor %}
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="search" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </ul>
      </div>
    </div>
  </nav>