<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

    {% include topnav-search.html %}


    
    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
    <!-- <script src="https://omeans-team.github.io/astronaut-viewer/script.js"></script> -->
    <!-- Loads <model-viewer> for browsers: -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>

    {% include footer.html %}
    {% include js_files.html %}

    {% if page.halaman == 'base' %}
    {% include js_home.html %}
    {% else %}
    {% endif %}
    <script>
        $(document).ready(function() {
            $('.logo-carousel').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1000,
            arrows: true,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                slidesToShow: 2
                }
            }]
            });
        });
    </script>
</body>

</html>
