---
layout: default
---

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="well">
                <h4>RECENT POSTS</h4>
                <ul class="list-unstyled post-list-container">
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ post.url | relative_url }}" {% if page.title==post.title %} class="active" {% endif %}>{{ post.title }}</a></li>
                    {% endfor %}
                    <li><a href="{{ "/allposts" | relative_url }}">All posts ...</a></li>
                </ul>
                <h4>Categories</h4>
                <ul class="list-unstyled post-list-container" style="line-height: 2.5;">


                    {% for post in site.posts limit:50 %}
                      {% assign all_categories = all_categories | append: post.categories | join: "," %}
                    {% endfor %}
                    
                    {% assign unique_categories = all_categories | split: ']' | remove:' ' | remove:'"' | remove:'[' | remove: ']' | remove:'\' | split: ',' | uniq %}
                    
                    {% for category in unique_categories %}
                      <a class="badge" style="text-transform: uppercase; background-color: #e47909;padding: 8px 12px 8px;" href="{{site.baseurl}}/categories/{{category|slugize}}">{{ category }}</a>
                      {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <h3><b>{{ page.title }}</b></h3>
            <p id="date-post" value="{{ page.date }}" hidden>{{ page.date }}</p>
            <!-- <p hidden>{{ page.date | date: "%b %-d, %Y" }}</p> -->
            <!-- <p id="date-post-ago"></p> -->
            <p><span id="date-post-ago"></span> {% if page.author %} • <i class="fa fa-users"></i> <a href="https://omeans-team.github.io">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <div  id="markdown-content-container">{{ content }}</div>
            <hr>
            <ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous.url | relative_url }}">
                        <span aria-hidden="true">&larr;</span> Older
                    </a>
                </li>
                {% endif %} {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url | relative_url }}">
                      Newer <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
